@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
*{
    font-family: 'Permanent Marker', cursive;
    }

h1{
    position:absolute;
	left: 30px;
	top: 10px;
	
   
}
section{
    padding-left: 45%;
        
    
}

.box2{
    
    position:absolute;
	left: 950px;
	top: 300px;
	width:800px;
	height:480px;
}
.box1{
    position:absolute;
	right: 250px;
	top: 300px;
	width:800px;
	height:480px; 
   
    
}
#ElegirLlaves{
    position: absolute;
    top: 500px;


       
}

     
